*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #CCC;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
    
}

.text {
    color : blue ;
    background-color: aqua;
    display: block;
}

#adicionar {
    background-color: red;
    margin-top: 20px;
    display: block;
}